*{
    -webkit-tap-higlight-color: transparent;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-delay: 250ms;
    &.loaded {
        opacity: 1;
    }
}

body {
    background-color: #fff;
}

ul.unstyled {
    list-style: none;

}

a{
    &.twitter {
        &:before {
            content: "\f099\ ";
        }
    }
    &.github{
        &:before {
            content: "\f09b\ ";
        }
    }

    &.twitter,
    &.github{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    }
}

/**
* Site header
*/

.header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 2;
    transition: background 200ms;
}



.work__page-header,
.blog__page-header,
.home__page-header,
.about__page-header{
    min-height: 20vh;
    @media screen and (min-width: 767px) {
        min-height: 60vh;
    }
    .page__title {
        width: 100%;
        text-align: center;
        line-height: 20vh;
        color: #FFF;
        text-transform: uppercase;
        font-family: $base-font-family;
        font-size: 3em;
        margin-bottom: 0;

        @media screen and (min-width: 767px) {
            text-align: right;
            padding-right: 50px;
            line-height: 60vh;

        }

    }
}
.home__page-header {
    background-color: #E30B5D;
}

.about__page-header {
    background-color: #0a8fd1;
}

.csstransforms .home {
    .page__title {
        transform: translateX(100%);
        opacity: 0;
        &.slide__in {
            transform: translateX(0);
            opacity: 1;
            transition-property: opacity transform;
            transition-duration: 300ms;
            transition-delay: 100ms;
        }
    }
    .wrapper {
        transform: translateY(100%);
        opacity:0;
        &.fade__in {
            transform: translateY(0);
            opacity:1;
            transition-property: opacity transform;
            transition-duration: 300ms;
            transition-delay: 300ms;
        }
    }
}



.work__page-header {
    background-color: #6BEFD5;
}

.blog__page-header {
    background-color: #F0D56C;
}

.shadow__layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition-property: visibility, opacity;
    transition-duration: 0, 0.5s;
    transition-delay: 0.5s, 0;
    &.is-visible {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }
}

#main__content {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    z-index: 1;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transition-property: transform;
    transition-property: transform;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

    &.move-out {
        transform: scale(0.6);
    }
}


#main__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EEECF5;


    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition-property: transform;
    transition-property: transform;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

    z-index: 3;
    &.is-visible {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    ul {
        width: 100%;
        height: 100%;
    }

    li{
        height: 20%;
        a {
            position: relative;
            display: block;
            padding: 0 10%;
            height: 100%;
            border-bottom: 1px solid #DFDBEC;
            color: rgb(58, 57, 63);
            font-size: 1.25em;
            &:hover {
                font-weight: bold;
                background: #FFF;
            }
            span {
                position: absolute;
                left: 50%;
                top: 50%;
                right: auto;
                bottom: auto;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }

    .close__menu {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #DC6A6A;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        cursor: pointer;
        z-index: 10;
        &:before,
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 18px;
            left: 10px;
            width: 20px;
            height: 3px;
            background-color: #000;

            -webkit-transition-property: transform;
            transition-property: transform;

            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
        }

        &:before {
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
        }
        &:after {
            -webkit-transform: rotateZ(135deg);
            transform: rotateZ(135deg);
        }
        &:hover {
            &:before {
                -webkit-transform: rotateZ(225deg);
                transform: rotateZ(225deg);
            }
            &:after {
                -webkit-transform: rotateZ(315deg);
                transform: rotateZ(315deg);
            }
        }
    }
}

.menu__trigger {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 80px;
    line-height: 80px;
    padding: 0 .8em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;

    span {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 2px;
        background-color: #000;
        vertical-align: middle;
        margin-left: 10px;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);

        &:before,
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: inherit;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }

        &:before {
            top: -6px;
        }
        &:after {
            bottom: -6px;
        }
    }
    &:hover {
        span {
            &:before {
                top: -8px;
            }
            &:after {
                bottom: -8px;
            }
        }
    }
}

.page__content {
    position: relative;
    .work__title {
        font-size: 2em;
        position: absolute;
        top: 10vh;
        text-align: center;
        width: 100%;
        @media screen and (min-width: 500px) {
            top: 30vh;
        }
    }

}

.work__wrapper {
    width: 100%;
    background: #FFF;
    position: relative;
    z-index: 100;
    padding-top: 2em;
}

.work__header {
    height: 30vh;
    background-size: cover;
    background-position: center center;
    @media screen and (min-width: 500px) {
        height: 60vh;

    }
}

.work-list {
    list-style: none;
    margin-left: 0;
    a {
        -webkit-transition: color, 0.5s;
        &:hover {
            color: rgba($brand-color, 0.5);
            text-decoration: none;
        }
    }
}

.work li a {
    font-weight: bold;
}

.btn__prev {
    float: left;
}

.btn__next {
    float: right;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 50%;
    float: left;
    ul {
        list-style: none;
        margin-left: 0;
        li {
            float: left;
            a {
                color: rgba(0,0,0, 0.8);
            }
            &:after {
                padding: 0 .6vw;
                content: ' / ';
                opacity: .3;
            }
            &:last-child {
                &:after {
                    padding: 0;
                    content: none;
                }
            }
        }
    }
}
