---
layout: default
---

  {% if page.cover %}
    <header  style="background-image: url({{ page.cover | prepend: site.baseurl }})" class="work__header">
  {% elsif page.bgColor %}
    <header  style="background: {{ page.bgColor }}" class="work__header">
  {% else %}
    <header  style="background: #F4D03F;" class="work__header">
  {% endif %}
    <h2 class="work__title">{{ page.title }}</h2>
  </header>


<section class="work__wrapper">
  <div class="wrapper">
    <article class="work__content">
      <header>
        {% unless page.cover %}
          <h2 class="work__title-self">{{ page.title }}</h2>
        {% endunless %}
      </header>
      {{ content }}
    </article>
  </div>
</section>
